In [64]:
from datetime import datetime, timedelta
import pandas as pd
import time
import calendar
from sqlalchemy import text, create_engine

In [65]:
SRC_DB_CONFIG = {
    'host': '138.68.88.175',
    'port': 5432,
    'database': 'csd_bi',
    'user': 'datalens_utl',
    'password': 'mQnXQaHP6zkOaFdTLRVLx40gT4'
}
TICKETS_DB_CONFIG = {
    'host': '138.68.88.175',
    'port': 5416,
    'database': 'ticket_replica',
    'user': 'klaksik77',
    'password': '6g3u0k13GhPhC2fvvPO'
}
DWH_DB_CONFIG = {
    'host': 'primarydwhcsd.aerxd.tech',
    'port': 6432,
    'database': 'postgres',
    'user': 'ste',
    'password': 'ILzAYQ72aEe9'
}

def _make_engine(db, include_options: bool = True):
    conn = f"postgresql+psycopg2://{db['user']}:{db['password']}@{db['host']}:{db['port']}/{db['database']}"
    connect_args = {
        "connect_timeout": 10,
        "keepalives": 1,
        "keepalives_idle": 30,
        "keepalives_interval": 10,
        "keepalives_count": 5,
    }
    if include_options:
        connect_args["options"] = "-c statement_timeout=600000"
    return create_engine(
        conn,
        pool_pre_ping=True,
        pool_recycle=180,
        pool_size=5,
        max_overflow=2,
        connect_args=connect_args,
    )

ENGINE_SRC = _make_engine(SRC_DB_CONFIG, include_options=True)
ENGINE_TICKETS = _make_engine(TICKETS_DB_CONFIG, include_options=True)
ENGINE_DWH = _make_engine(DWH_DB_CONFIG, include_options=False)

In [85]:
def safe_parse_date(date_str):
    """Пытается создать дату, если день превышает допустимое — сдвигает на последний день месяца."""
    try:
        return datetime.strptime(date_str, '%Y-%m-%d')
    except ValueError:
        # Разбор вручную
        try:
            year, month, day = map(int, date_str.split('-'))
            last_day = calendar.monthrange(year, month)[1]
            return datetime(year, month, last_day)
        except Exception as e:
            print(f"Ошибка при корректировке даты: {e}")
            raise

def get_invoice_data_by_days(start_date, end_date, engine):
    try:
        start = safe_parse_date(start_date)
        end = safe_parse_date(end_date)
    except Exception:
        return pd.DataFrame()

    if start > end:
        print("Дата начала позже даты окончания.")
        return pd.DataFrame()

    final_df = pd.DataFrame()
    current_date = start
    day_counter = 1

    while current_date <= end:
        day_start = current_date.strftime('%Y-%m-%d 00:00:00')
        day_end = current_date.strftime('%Y-%m-%d 23:59:59')

        print(f"День {day_counter}: {current_date.strftime('%Y-%m-%d')}")

        query_get_data = f"""
            WITH initial_data AS (
                SELECT
                    i.amount,
                    i.client_id,
                    i.status_id AS order_status_id,
                    lc.name AS client_name,
                    lcl.system_name AS currency,
                    CASE WHEN a_last.id IS NOT NULL THEN 1 ELSE 0 END AS appeal,
                    adrl.display_name AS reason,
                    CASE WHEN i.engine_id IS NOT NULL THEN 1 ELSE 0 END AS engine,
                    'payin' as "order_type",
                    i.created_at
                FROM orders.invoice i
                JOIN clients.client lc       ON lc.id = i.client_id
                JOIN lists.currency_list lcl ON lcl.id = i.currency_id
                LEFT JOIN (
                    SELECT DISTINCT ON (order_id) *
                    FROM orders.appeal
                    ORDER BY order_id, COALESCE(updated_at, created_at) DESC, id DESC
                ) a_last ON a_last.order_id = i.id
                LEFT JOIN lists.appeal_decline_reason_list adrl ON adrl.id = a_last.decline_reason_id
                union all
                SELECT
                    i.amount,
                    i.client_id,
                    i.status_id AS order_status_id,
                    lc.name AS client_name,
                    lcl.system_name AS currency,
                    CASE WHEN a_last.id IS NOT NULL THEN 1 ELSE 0 END AS appeal,
                    adrl.display_name AS reason,
                    CASE WHEN i.engine_ids IS NOT NULL THEN 1 ELSE 0 END AS engine,
                    'payout' as "order_type",
                    i.created_at
                FROM orders.withdraw i
                JOIN clients.client lc       ON lc.id = i.client_id
                JOIN lists.currency_list lcl ON lcl.id = i.currency_id
                LEFT JOIN (
                    SELECT DISTINCT ON (order_id) *
                    FROM orders.appeal
                    ORDER BY order_id, COALESCE(updated_at, created_at) DESC, id DESC
                ) a_last ON a_last.order_id = i.id
                LEFT JOIN lists.appeal_decline_reason_list adrl ON adrl.id = a_last.decline_reason_id
                )
                SELECT
                    client_id,
                    client_name,
                    currency,
                    COUNT(*) AS orders_count,
                    sum(engine) as count_get_engine,
                    count(*) FILTER (WHERE order_status_id = 2)  AS orders_count_success,
                    SUM(amount) FILTER (WHERE order_status_id = 2)  AS amount_success,
                    SUM(amount) as amount,
                    SUM(appeal) AS count_appeal,
                    COUNT(*) filter (where reason is not null) as count_reject_appeals,
                    COUNT(*) filter (where reason = 'Изображение не является чеком') as "Изображение не является чеком",
                    COUNT(*) filter (where reason = 'Поддельный чек') as "Поддельный чек",
                    COUNT(*) filter (where reason = 'Неправильная дата/время') as "Неправильная дата/время",
                    COUNT(*) filter (where reason = 'Не совпадают реквизиты') as "Не совпадают реквизиты",
                    COUNT(*) filter (where reason = 'Другой получатель') as "Другой получатель",
                    COUNT(*) filter (where reason = 'Запросите, пожалуйста, выписку') as "Запросите, пожалуйста, выписку",
                    COUNT(*) filter (where reason = 'Автоотклонение') as "Автоотклонение",
                    COUNT(*) filter (where reason = 'Повторный чек') as "Повторный чек",
                    order_type
                FROM initial_data
                WHERE created_at >= '{day_start}' and created_at <= '{day_end}'
                GROUP BY client_id, currency, order_type, client_name;
            """
        try:
            query = text(query_get_data)  # оберни строку в text()
            daily_data = pd.read_sql(query, engine, params={})
            # daily_data = daily_data.drop(columns=['created_at'])
            if not daily_data.empty:
                daily_data['processing_date'] = current_date.strftime('%Y-%m-%d')
                final_df = pd.concat([final_df, daily_data], ignore_index=True)
                print(f"Размер final_df - {len(final_df)}")
                print(f"Получено {len(daily_data)} записей")
                # print(f"Уникальных плательщиков: {daily_data['payer_id'].nunique()}")
            else:
                print(f"Нет данных")
        except Exception as e:
            print(f"Ошибка при получении данных за {current_date.strftime('%Y-%m-%d')}: {e}")

        current_date += timedelta(days=1)
        day_counter += 1
        time.sleep(0.5)

    return final_df


# Использование
data = get_invoice_data_by_days('2025-06-01', '2025-08-31', ENGINE_SRC)
# data = pd.read_csv('data_invoices.csv')

День 1: 2025-06-01
Размер final_df - 182
Получено 182 записей
День 2: 2025-06-02
Размер final_df - 407
Получено 225 записей
День 3: 2025-06-03
Размер final_df - 619
Получено 212 записей
День 4: 2025-06-04
Размер final_df - 829
Получено 210 записей
День 5: 2025-06-05
Размер final_df - 1050
Получено 221 записей
День 6: 2025-06-06
Размер final_df - 1250
Получено 200 записей
День 7: 2025-06-07
Размер final_df - 1422
Получено 172 записей
День 8: 2025-06-08
Размер final_df - 1598
Получено 176 записей
День 9: 2025-06-09
Размер final_df - 1792
Получено 194 записей
День 10: 2025-06-10
Размер final_df - 1997
Получено 205 записей
День 11: 2025-06-11
Размер final_df - 2195
Получено 198 записей
День 12: 2025-06-12
Размер final_df - 2391
Получено 196 записей
День 13: 2025-06-13
Размер final_df - 2597
Получено 206 записей
День 14: 2025-06-14
Размер final_df - 2762
Получено 165 записей
День 15: 2025-06-15
Размер final_df - 2914
Получено 152 записей
День 16: 2025-06-16
Размер final_df - 3121
Получено 207 записей
День 17: 2025-06-17
Размер final_df - 3310
Получено 189 записей
День 18: 2025-06-18
Размер final_df - 3510
Получено 200 записей
День 19: 2025-06-19
Размер final_df - 3720
Получено 210 записей
День 20: 2025-06-20
Размер final_df - 3919
Получено 199 записей
День 21: 2025-06-21
Размер final_df - 4076
Получено 157 записей
День 22: 2025-06-22
Размер final_df - 4234
Получено 158 записей
День 23: 2025-06-23
Размер final_df - 4425
Получено 191 записей
День 24: 2025-06-24
Размер final_df - 4614
Получено 189 записей
День 25: 2025-06-25
Размер final_df - 4805
Получено 191 записей
День 26: 2025-06-26
Размер final_df - 4993
Получено 188 записей
День 27: 2025-06-27
Размер final_df - 5189
Получено 196 записей
День 28: 2025-06-28
Размер final_df - 5351
Получено 162 записей
День 29: 2025-06-29
Размер final_df - 5505
Получено 154 записей
День 30: 2025-06-30
Размер final_df - 5699
Получено 194 записей
День 31: 2025-07-01
Размер final_df - 5879
Получено 180 записей
День 32: 2025-07-02
Размер final_df - 6078
Получено 199 записей
День 33: 2025-07-03
Размер final_df - 6255
Получено 177 записей
День 34: 2025-07-04
Размер final_df - 6439
Получено 184 записей
День 35: 2025-07-05
Размер final_df - 6596
Получено 157 записей
День 36: 2025-07-06
Размер final_df - 6745
Получено 149 записей
День 37: 2025-07-07
Размер final_df - 6927
Получено 182 записей
День 38: 2025-07-08
Размер final_df - 7113
Получено 186 записей
День 39: 2025-07-09
Размер final_df - 7296
Получено 183 записей
День 40: 2025-07-10
Размер final_df - 7507
Получено 211 записей
День 41: 2025-07-11
Размер final_df - 7689
Получено 182 записей
День 42: 2025-07-12
Размер final_df - 7843
Получено 154 записей
День 43: 2025-07-13
Размер final_df - 7992
Получено 149 записей
День 44: 2025-07-14
Размер final_df - 8173
Получено 181 записей
День 45: 2025-07-15
Размер final_df - 8353
Получено 180 записей
День 46: 2025-07-16
Размер final_df - 8532
Получено 179 записей
День 47: 2025-07-17
Размер final_df - 8715
Получено 183 записей
День 48: 2025-07-18
Размер final_df - 8907
Получено 192 записей
День 49: 2025-07-19
Размер final_df - 9059
Получено 152 записей
День 50: 2025-07-20
Размер final_df - 9214
Получено 155 записей
День 51: 2025-07-21
Размер final_df - 9412
Получено 198 записей
День 52: 2025-07-22
Размер final_df - 9598
Получено 186 записей
День 53: 2025-07-23
Размер final_df - 9797
Получено 199 записей
День 54: 2025-07-24
Размер final_df - 9995
Получено 198 записей
День 55: 2025-07-25
Размер final_df - 10190
Получено 195 записей
День 56: 2025-07-26
Размер final_df - 10360
Получено 170 записей
День 57: 2025-07-27
Размер final_df - 10519
Получено 159 записей
День 58: 2025-07-28
Размер final_df - 10710
Получено 191 записей
День 59: 2025-07-29
Размер final_df - 10903
Получено 193 записей
День 60: 2025-07-30
Размер final_df - 11085
Получено 182 записей
День 61: 2025-07-31
Размер final_df - 11284
Получено 199 записей
День 62: 2025-08-01
Размер final_df - 11464
Получено 180 записей
День 63: 2025-08-02
Размер final_df - 11623
Получено 159 записей
День 64: 2025-08-03
Размер final_df - 11769
Получено 146 записей
День 65: 2025-08-04
Размер final_df - 11957
Получено 188 записей
День 66: 2025-08-05
Размер final_df - 12137
Получено 180 записей
День 67: 2025-08-06
Размер final_df - 12315
Получено 178 записей
День 68: 2025-08-07
Размер final_df - 12506
Получено 191 записей
День 69: 2025-08-08
Размер final_df - 12684
Получено 178 записей
День 70: 2025-08-09
Размер final_df - 12834
Получено 150 записей
День 71: 2025-08-10
Размер final_df - 12984
Получено 150 записей
День 72: 2025-08-11
Размер final_df - 13166
Получено 182 записей
День 73: 2025-08-12
Размер final_df - 13342
Получено 176 записей
День 74: 2025-08-13
Размер final_df - 13514
Получено 172 записей
День 75: 2025-08-14
Размер final_df - 13695
Получено 181 записей
День 76: 2025-08-15
Размер final_df - 13880
Получено 185 записей
День 77: 2025-08-16
Размер final_df - 14026
Получено 146 записей
День 78: 2025-08-17
Размер final_df - 14169
Получено 143 записей
День 79: 2025-08-18
Размер final_df - 14353
Получено 184 записей
День 80: 2025-08-19
Размер final_df - 14529
Получено 176 записей
День 81: 2025-08-20
Размер final_df - 14714
Получено 185 записей
День 82: 2025-08-21
Размер final_df - 14899
Получено 185 записей
День 83: 2025-08-22
Размер final_df - 15077
Получено 178 записей
День 84: 2025-08-23
Размер final_df - 15230
Получено 153 записей
День 85: 2025-08-24
Размер final_df - 15376
Получено 146 записей
День 86: 2025-08-25
Размер final_df - 15549
Получено 173 записей
День 87: 2025-08-26
Размер final_df - 15729
Получено 180 записей
День 88: 2025-08-27
Размер final_df - 15892
Получено 163 записей
День 89: 2025-08-28
Размер final_df - 16069
Получено 177 записей
День 90: 2025-08-29
Размер final_df - 16246
Получено 177 записей
День 91: 2025-08-30
Размер final_df - 16389
Получено 143 записей
День 92: 2025-08-31
Размер final_df - 16531
Получено 142 записей

In [80]:
data.to_csv('data_invoices.csv', index=False)

In [88]:
2605128.82503 - 2417462.6079600000000000000000

187666.21706999978

In [84]:
(data.groupby(['client_id', 'currency', 'order_type'])
.agg({'orders_count': 'sum',
      'orders_count': 'sum',
      'orders_count_success': 'sum',
      'amount_success': 'sum',
      'amount': 'sum',
      'count_appeal': 'sum',
      "Изображение не является чеком": "sum",
      "Поддельный чек": "sum",
      "Неправильная дата/время": "sum",
      "Не совпадают реквизиты": "sum",
      "Другой получатель": "sum",
      "Запросите, пожалуйста, выписку": "sum",
      "Автоотклонение": "sum",
      "Повторный чек": "sum",})
.reset_index())

,client_id,currency,order_type,orders_count,orders_count_success,amount_success,amount,count_appeal,Изображение не является чеком,Поддельный чек,Неправильная дата/время,Не совпадают реквизиты,Другой получатель,"Запросите, пожалуйста, выписку",Автоотклонение,Повторный чек
0,1082,AZN,payin,22613,264,1.007900e+04,2.419786e+06,22,1,0,0,0,4,4,1,0
1,1082,EUR,payin,187,0,0.000000e+00,4.283100e+04,0,0,0,0,0,0,0,0,0
2,1082,RUB,payin,1,0,0.000000e+00,2.140000e+03,0,0,0,0,0,0,0,0,0
3,1082,USDTTRC,payout,4,4,2.000336e+04,2.000336e+04,0,0,0,0,0,0,0,0,0
4,1082,UZS,payin,1777,696,1.290989e+08,3.256775e+08,97,2,0,0,0,3,5,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703,4045,EUR,payin,46,33,1.710000e+03,3.095000e+03,0,0,0,0,0,0,0,0,0
704,4046,EUR,payin,1163,830,5.809542e+04,9.426542e+04,0,0,0,0,0,0,0,0,0
705,4049,EUR,payin,92,0,0.000000e+00,3.669390e+03,0,0,0,0,0,0,0,0,0
706,4050,EUR,payin,40,0,0.000000e+00,7.484000e+03,0,0,0,0,0,0,0,0,0
707,4055,USDTTRC,payin,1,0,0.000000e+00,1.000000e+00,0,0,0,0,0,0,0,0,0

In [11]:
query = """
    select 
        ticket_info ->> 'clientID' as client_id,
        case when ticket_info ->> 'appealDeclineReasonID' is null then 'success' else 'reject' end as failed_flg,
        ticket_info ->> 'orderID' as order_id
    from public.ticket
    where status_id = 4 and assigned_to <> 0 and
        created_at >= '2025-06-01' and created_at <= '2025-08-31' and ticket_info ->> 'clientID' <> '0'
"""
data_tickets = pd.read_sql(query, ENGINE_TICKETS, params={})

In [12]:
data_tickets

      client_id failed_flg   order_id
0          3829     reject  176100100
1          3864    success  185606850
2          3829    success  176158309
3          3829    success  185638479
4          3216    success  174739830
...         ...        ...        ...
48711      3862    success  174642301
48712      3829    success  174670598
48713      2697    success  176233154
48714      3845    success  174688909
48715      3821    success  174726902

[48716 rows x 3 columns]

In [31]:
query_error_tickets = f"""
    select 
        error_code,
        id as order_id,
        CASE
        WHEN i.status_id <> 2 THEN
        CASE
            WHEN i.error_code = 101 THEN 'Rejected by client blacklist rule'
            WHEN i.error_code = 102 THEN 'From merchant ID block'
            WHEN i.error_code = 103 THEN 'Suspicious LLC country'
            WHEN i.error_code = 104 THEN 'Suspicious provider'
            WHEN i.error_code = 105 THEN 'Suspicious subnet'
            WHEN i.error_code = 107 THEN 'Blacklist API'
            WHEN i.error_code = 108 THEN 'Blacklist Form'
            WHEN i.error_code = 109 THEN 'Limit exceeded'
            WHEN i.error_code = 111 THEN 'Bad user agent'
            WHEN i.error_code = 112 THEN 'Primary traffic blocked'
            WHEN i.error_code = 114 THEN 'Card blocked'
            WHEN i.error_code = 115 THEN 'Canceled by peer'

            WHEN i.error_code = 2000 THEN 'Cannot accept default terminal ID'
            WHEN i.error_code = 2002 THEN 'Another terminal ID was used'
            WHEN i.error_code = 2003 THEN 'Not supported currency'
            WHEN i.error_code = 2004 THEN 'Not supported payment system'
            WHEN i.error_code = 2007 THEN 'Not supported bank'
            WHEN i.error_code = 2010 THEN 'Invalid order status'
            WHEN i.error_code = 2033 THEN 'Method ID validation failed'
            WHEN i.error_code = 2034 THEN 'Merchant URL validation failed'
            WHEN i.error_code = 2037 THEN 'Can refund only H2H'
            WHEN i.error_code = 2038 THEN 'Order is already refunded'
            WHEN i.error_code = 2041 THEN 'Refund timeout exceeded'
            WHEN i.error_code = 2042 THEN 'Engine not set'
            WHEN i.error_code = 2044 THEN 'Engine order ID not set'
            WHEN i.error_code = 2045 THEN 'Balance validation fail'
            WHEN i.error_code = 2048 THEN 'Can chargeback only H2H'
            WHEN i.error_code = 2049 THEN 'Can not change success refund'
            WHEN i.error_code = 3001 THEN 'Blocked by limit'
            WHEN i.error_code = 3002 THEN 'Unknown external error'
            WHEN i.error_code = 3007 THEN '3DS PARes status not Y'
            WHEN i.error_code = 3008 THEN '3DS VERes status U'
            WHEN i.error_code = 3009 THEN '3DS decline in VERes'
            WHEN i.error_code = 3010 THEN 'No attempts left'
            WHEN i.error_code = 3011 THEN 'Session time limit'
            WHEN i.error_code = 3013 THEN 'TDS signature test failed'
            WHEN i.error_code = 3016 THEN 'Fraud do not honour'
            WHEN i.error_code = 3017 THEN 'Original transaction not found'
            WHEN i.error_code = 3018 THEN 'Card limits exceeded'
            WHEN i.error_code = 3019 THEN 'Wrong expiry date'
            WHEN i.error_code = 3025 THEN 'Security violation'
            WHEN i.error_code = 3026 THEN 'Transaction not permitted'
            WHEN i.error_code = 3031 THEN 'Cannot contact bank'
            WHEN i.error_code = 3032 THEN 'Invalid operation'
            WHEN i.error_code = 3033 THEN 'SSL forbidden'
            WHEN i.error_code = 3036 THEN 'Refund more than deposited'
            WHEN i.error_code = 3037 THEN '3DS rule error'
            WHEN i.error_code = 3038 THEN 'Terminal select rule error'
            WHEN i.error_code = 3039 THEN 'General external error'
            WHEN i.error_code = 3040 THEN '3DS declined in ARes'
            WHEN i.error_code = 3042 THEN '3DS authentication cancelled'
            WHEN i.error_code = 3043 THEN '3DS authentication failed'
            WHEN i.error_code = 3044 THEN '3DS unknown RReq status'
            WHEN i.error_code = 3045 THEN '3DS erroneous challenge'
            WHEN i.error_code = 3047 THEN 'Postal address verification failed'
            WHEN i.error_code = 3052 THEN 'Duplicate order'
            WHEN i.error_code = 3057 THEN 'Invalid CVV2'
            WHEN i.error_code = 3058 THEN 'Invalid AVS'
            WHEN i.error_code = 3061 THEN 'Currency mismatch'
            WHEN i.error_code = 3062 THEN 'Authorization expired'
            WHEN i.error_code = 3063 THEN 'Reversal needed'
            WHEN i.error_code = 3064 THEN 'Invalid transaction type'
            WHEN i.error_code = 3065 THEN 'Batch not found'
            WHEN i.error_code = 3066 THEN 'Settlement failed'
            WHEN i.error_code = 3067 THEN 'Capture amount exceeded'
            WHEN i.error_code = 3069 THEN 'Currency not accepted'
            WHEN i.error_code = 3070 THEN 'Card scheme restriction'
            WHEN i.error_code = 3071 THEN 'Merchant category restriction'
            WHEN i.error_code = 3075 THEN 'Recurring cancelled'
            WHEN i.error_code = 3076 THEN 'Recurring expired'
            WHEN i.error_code = 3077 THEN 'Recurring not found'
            WHEN i.error_code = 3079 THEN 'Velocity check failed'
            WHEN i.error_code = 3083 THEN 'Invalid token'
            WHEN i.error_code = 3085 THEN 'Account verification needed'
            WHEN i.error_code = 3087 THEN 'Risk check failed'
            WHEN i.error_code = 3088 THEN 'PCI compliance failure'
            WHEN i.error_code = 3101 THEN 'Invalid billing descriptor'
            WHEN i.error_code = 3102 THEN 'Dynamic currency conversion failed'
            WHEN i.error_code = 3104 THEN 'Currency conversion expired'
            WHEN i.error_code = 3105 THEN 'Cross-border declined'
            WHEN i.error_code = 3108 THEN 'Mandate required'
            WHEN i.error_code = 3109 THEN 'Mandate invalid'
            WHEN i.error_code = 3110 THEN 'Direct debit failed'
            WHEN i.error_code = 3111 THEN 'Chargeback dispute lost'
            WHEN i.error_code = 3112 THEN 'Fraud investigation'
            WHEN i.error_code = 3114 THEN 'Account temporarily locked'
            WHEN i.error_code = 3117 THEN 'Payment method invalid'
            WHEN i.error_code = 3118 THEN 'Merchant account disabled'

            WHEN i.error_code IN (2013, 3091) THEN 'Client Amount Below Limit'
            WHEN i.error_code IN (2014, 3092) THEN 'Client Amount Over Limit'
            WHEN i.error_code IN (2015, 3093) THEN 'Client Turnover Below Limit'
            WHEN i.error_code IN (2016, 3094) THEN 'Client Turnover Over Limit'
            WHEN i.error_code IN (2019, 3097) THEN 'Engine Amount Below Limit'
            WHEN i.error_code IN (2020, 3098) THEN 'Engine Amount Over Limit'
            WHEN i.error_code IN (2021, 3099) THEN 'Engine Turnover Below Limit'
            WHEN i.error_code IN (2022, 3100) THEN 'Engine Turnover Over Limit'
            WHEN i.error_code = 2047 THEN 'Cannot chargeback unsuccessful order'
            WHEN i.error_code = 3035 THEN '3DS rule failed'
            WHEN i.error_code = 3089 THEN 'Card validation error'
            WHEN i.error_code = 2012 THEN 'Payment form already generated'
            WHEN i.error_code = 3107 THEN 'This feature is coming soon, just wait for it'
            WHEN i.error_code = 2035 THEN 'Invalid phone number'
            WHEN i.error_code = 106 THEN 'Rejected by anti-fraud rule'
            WHEN i.error_code = 3015 THEN 'Invalid merchant'
            WHEN i.error_code = 3020 THEN 'Contact issuer'
            WHEN i.error_code = 3051 THEN 'Try again later'
            WHEN i.error_code = 3055 THEN 'CVV2 failure'
            WHEN i.error_code = 3091 THEN 'Amount is below limit'
            WHEN i.error_code = 2032 THEN 'Payment system validation failed'
            WHEN i.error_code = 2036 THEN 'Fail on engine action'
            WHEN i.error_code = 3023 THEN 'Wrong PAN'
            WHEN i.error_code = 2014 THEN 'Amount is over limit'
            WHEN i.error_code = 4001 THEN 'Bank validation failed'

            WHEN i.error_code = 113 THEN 'Requisites are broken'
            WHEN i.error_code = 1001 THEN 'Internal error'
            WHEN i.error_code = 1003 THEN 'Internal error'
            WHEN i.error_code = 2027 THEN 'IP validation failed'
            WHEN i.error_code = 3103 THEN 'Card number validation failed'
            WHEN i.error_code = 1000 THEN 'Internal error'
            WHEN i.error_code = 2001 THEN 'Terminal ID credentials not found'
            WHEN i.error_code = 3003 THEN 'SSL error'
            WHEN i.error_code = 3056 THEN 'Transaction not permitted to cardholder'
            WHEN i.error_code = 3074 THEN '3Dv2 failed'
            WHEN i.error_code = 2016 THEN 'Turnover is over limit'
            WHEN i.error_code = 3096 THEN 'BIN validator failed'
            WHEN i.error_code = 3113 THEN 'Invalid phone number'
            WHEN i.error_code = 3120 THEN 'Bad request. Check your credentials'
            WHEN i.error_code = 3121 THEN 'Card declined by payment system'
            WHEN i.error_code = 3005 THEN '3DS v1 authentication is not possible. Declined by iReq in PARes'
            WHEN i.error_code = 3024 THEN 'Not enough funds'
            WHEN i.error_code = 3073 THEN '3DS additional authentication required'
            WHEN i.error_code = 3081 THEN 'Card not registered for 3DS'
            WHEN i.error_code = 2017 THEN 'PAN validator failed'
            WHEN i.error_code = 2029 THEN 'This feature is coming soon, just wait for it'
            WHEN i.error_code = 3006 THEN '3DS v1 authentication is not possible. Declined. DS connection timeout'
            WHEN i.error_code = 3014 THEN 'TDS impossible'
            WHEN i.error_code = 3028 THEN 'Invalid card number'
            WHEN i.error_code = 3046 THEN '3DS authentication. ACS cancelled challenge by timeout'
            WHEN i.error_code = 3053 THEN 'Payer country is forbidden'
            WHEN i.error_code = 3090 THEN 'Payment form already generated'
            WHEN i.error_code = 2018 THEN 'BIN validator failed'
            WHEN i.error_code = 2031 THEN 'Bank validation failed'
            WHEN i.error_code = 3122 THEN 'Invalid amount or currency'
            WHEN i.error_code = 2039 THEN 'Cannot refund unsuccessful order'
            WHEN i.error_code = 3012 THEN '3DS authentication is not possible'
            WHEN i.error_code = 3041 THEN '3DS authentication status in ARes is unknown'
            WHEN i.error_code = 3086 THEN 'Cannot get order by UID'
            WHEN i.error_code = 2022 THEN 'Turnover is over limit'
            WHEN i.error_code = 2046 THEN 'Order is already chargebacked'
            WHEN i.error_code = 3060 THEN 'Non-3DS operation is not allowed'
            WHEN i.error_code = 3072 THEN 'Cannot find gate for card'
            WHEN i.error_code = 3095 THEN 'PAN validator failed'
            WHEN i.error_code = 2025 THEN 'Card number validation failed'

            WHEN i.error_code = 101 THEN 'Rejected by anti-fraud rule'
            WHEN i.error_code = 110 THEN 'Requests limit exceeded. User has been blacklisted'
            WHEN i.error_code = 3080 THEN '3DS declined'
            WHEN i.error_code = 2008 THEN 'Cannot get order by UID'
            WHEN i.error_code = 3093 THEN 'Turnover is below limit'
            WHEN i.error_code = 2024 THEN 'BIN validator failed'
            WHEN i.error_code = 103 THEN 'Suspicious request'
            WHEN i.error_code = 2050 THEN 'Cannot update chargeback to new status'
            WHEN i.error_code = 3021 THEN 'Wrong merchant ID/terminal ID'
            WHEN i.error_code = 3029 THEN 'Reenter transaction'
            WHEN i.error_code = 3082 THEN 'Transaction expired'
            WHEN i.error_code = 2006 THEN 'Insufficient funds'
            WHEN i.error_code = 3034 THEN 'SSL without CVC forbidden'
            WHEN i.error_code = 2028 THEN 'Not configured for you, please contact the manager'
            WHEN i.error_code = 3106 THEN 'Not configured for you, please contact the manager'
            WHEN i.error_code = 3119 THEN 'Not found. Check your credentials'
            WHEN i.error_code = 2043 THEN 'Engine not available'
            WHEN i.error_code = 3030 THEN 'Invalid message format'
            WHEN i.error_code = 3078 THEN 'Payment rejected'
            WHEN i.error_code = 3084 THEN 'Transaction timed out'
            WHEN i.error_code = 3092 THEN 'Amount is over limit'
            WHEN i.error_code = 3097 THEN 'Amount is below limit'
            WHEN i.error_code = 3115 THEN 'Contact support'
            WHEN i.error_code = 3048 THEN 'General payment system error'
            WHEN i.error_code = 3054 THEN '3DS timeout'
            WHEN i.error_code = 3059 THEN 'Card not active'
            WHEN i.error_code = 3068 THEN 'Transaction not allowed at terminal'
            WHEN i.error_code = 2030 THEN 'Geo validation failed'
            WHEN i.error_code = 3116 THEN 'Cardholder name not specified'
            WHEN i.error_code = 4000 THEN 'Geo validation failed'
            WHEN i.error_code = 1002 THEN 'Internal error'
            WHEN i.error_code = 2005 THEN 'No available engines'
            WHEN i.error_code = 2040 THEN 'Order is already on refund'

            WHEN fail_cause LIKE '%temporarily blocked for%' THEN 'Temporarily blocked for exceeded spam'
            WHEN fail_cause LIKE '%requests limit exceeded%' THEN 'Requests limit exceeded'
            WHEN fail_cause LIKE '%requests limit exceeded hardly%' THEN 'Requests limit exceeded hardly. User has been added to black-list'
            WHEN fail_cause LIKE '%temporarily blocked for exceeded card spam%' THEN 'Temporarily blocked for exceeded card spam filter limits '
            WHEN fail_cause LIKE '%ip is in API blacklist%' THEN 'IP is in API Blacklist'
            WHEN fail_cause LIKE '%suspicious request%' THEN 'Suspicious Request'
            WHEN fail_cause LIKE '%primary traffic blocked%' THEN 'Primary traffic blocked'
            WHEN fail_cause IS NULL AND i.error_code IS NULL and status_id = 5 then 'No available engines'
            WHEN fail_cause is NULL and i.error_code IS NULL and status_id = 4 then 'Internal Error'
            WHEN fail_cause LIKE '%ip is in Form blacklist%' THEN 'IP is in Form Blacklist'
            WHEN i.error_code = 2009 THEN 'Order Expired'
            when status_id in (3, 4, 5) and i.engine_id is null then 'Unknown Reason'
            else 'not failed'
            END
            ELSE NULL
        END AS failed_cause
    from orders.invoice i
    where i.status_id <> 2 and i.id = ANY(:order_ids) and error_code <> '0'
"""
ids = data_tickets['order_id'].astype(int).tolist()
data_error_tickets = pd.read_sql(text(query_error_tickets), ENGINE_SRC, params={"order_ids": ids})

In [33]:
data_error_tickets

      error_code   order_id           failed_cause
0           1000   95370064         Internal error
1           1000   96049406         Internal error
2           1000   96601021         Internal error
3           1000  103527411         Internal error
4           1000  106339946         Internal error
...          ...        ...                    ...
7022        1000  197396625         Internal error
7023        2036  197400354  Fail on engine action
7024        2005  197411508   No available engines
7025        2036  197432088  Fail on engine action
7026        1000  197432122         Internal error

[7027 rows x 3 columns]

In [36]:
data_tickets['order_id'] = data_tickets['order_id'].astype(str)
data_error_tickets['order_id'] = data_error_tickets['order_id'].astype(str)
data_tickets = data_tickets.merge(data_error_tickets, on='order_id', how='left')

In [42]:
data_tickets[data_tickets['failed_flg'] == 'reject']['failed_cause'].value_counts()

failed_cause
Internal error                                            5632
Order Expired                                              381
No available engines                                       296
Canceled by peer                                           150
IP is in Form Blacklist                                    126
Fail on engine action                                      115
Temporarily blocked for exceeded spam                       14
Requests limit exceeded                                     10
Invalid token                                                9
Fraud do not honour                                          3
Client Amount Below Limit                                    3
IP is in API Blacklist                                       3
Insufficient funds                                           2
not failed                                                   2
Transaction timed out                                        2
Contact issuer                                               2
Not configured for you, please contact the manager           1
3DS authentication. ACS cancelled challenge by timeout       1
Name: count, dtype: int64